<div class="container">
    <div class="row">
      <div class="col-10">
        <h1>Customers invoices</h1>
        <button><a href="/newinvoice">Add New Invoices</a></button>
      </div>
    </div>
    <!-- add a form here -->
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Reservation ID</th>
              <th>Total</th>
              <th>Surcharges</th>
              <th>Invoice Date Time</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody id="rows">
          {{#each objJson}}
            <tr>  
              <th scope="row"><a href="/invoices/{{this.id}}">{{ this.id }}</a></th>
              <td>{{ this.reservationId}}</td>
              <td>{{ this.total }}</td>
              <td>{{ this.surcharges }}</td>
              <td>{{ this.invoiceDateTime }}</td>
              <td>{{ this.paid }}</td>
              <td> <button> edit </button></td>
              <!-- add an edit button here-->
              <!-- add a delete button here -->
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
